<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>07FCB6332A644529AD727C8FC6F97E6B</string>
	<string>28D653AAAD1241128D8C6F30ABD95A27</string>
	<string>29A1C8A892B84B1AA81C877499F7497F</string>
	<string>2EB3C14ACAA54EABBF7D8D0D6C37BFEF</string>
</array>
</plist>
